@font-face {
    font-family: Open-Sans;
    src: 
    local('Open-Sans'), local('Open-Sans-Light'),
    url(../../fonts/OpenSansLight.woff2) format(woff2);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Open-Sans;
    src: 
    local('Open-Sans'), local('Open-Sans-Regular'),
    url(../../fonts/OpenSansRegular.woff2) format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Open-Sans;
    src: 
    local('Open-Sans'), local('Open-Sans-Medium'),
    url(../../fonts/OpenSansMedium.woff2) format(woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Open-Sans;
    src: 
    local('Open-Sans'), local('Open-Sans-SemiBold'),
    url(../../fonts/OpenSansSemiBold.woff2) format(woff2);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Open-Sans;
    src: 
    local('Open-Sans'), local('Open-Sans-Bold'),
    url(../../fonts/OpenSansBold.woff2) format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: NAMU;
    src:
    local('NAMU'), local('NAMU-PRO'),
    url(../../fonts/NAMU900.woff2) format(woff2);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}