.header {
    position: fixed;
    right: 0;
    left: 0;
    background-color: var(--section-dark);
    margin: 0 auto;
    max-height: 90px;
    font-family: var(--second-family);
}

.header__container {
    display: flex;
    align-items: center;
}

.header__burger {
    margin-right: 50px;
}

.header__burger:hover {
    color: var(--accent-color);
}

.header__burger-icon {}

.header__logo {
    max-width: 183px;
    margin-block: 6px;
    margin-right: clamp(20px, 8vw, 50px);
}

.header__logo-img {
    width: 100%;
}

.header__nav-menu {}

.header__orders {
    margin-left: 65px;
    flex-grow: 1;

}

@media (any-hover: hover) {
    .header__orders:hover {
        color: var(--review-color);
    }
}