.news {}

.news__wrapper {
    margin: 150px 280px 150px;
    display: flex;
    flex-direction: column;
}

@media (width<=1400px) {
    .news__wrapper {
        margin: 150px 120px 150px;
    }
}

@media (width<=992px) {
    .news__wrapper {
        margin: 150px 180px 150px;
    }
}

@media (width<=992px) {
    .news__wrapper {
        margin: 60px 70px 60px;
    }
}

.news__title {
    margin-bottom: 70px;
}

.main__title {}

.news__content {
    display: flex;
    gap: 20px;
    margin-bottom: 80px;
}

@media (width<=1400px) {
    .news__content {
        margin-bottom: 60px;
    }
}

.news__article {
    max-width: 440px;
}

@media (width<=992px) {
    .news__article {
        max-width: 197px;
    }
}

.news__image {
    margin-bottom: 30px;
}

.news__date {
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #909090;
}

@media (width<=768px) {
    .news__date {
        font-size: 12px;
    }
}

.news__article-title {
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
}

@media (width<=992px) {
    .news__article-title {
        font-size: 16px;
    }
}

@media (width<=768px) {
    .news__article-title {
        font-size: 14px;
    }
}

.news__article-text {
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
}

@media (width<=1400px) {
    .news__article-text {
        font-size: 16px;
    }
}

@media (width<=992px) {
    .news__article-text {
        font-size: 14px;
    }
}

@media (width<=768px) {
    .news__article-text {
        font-size: 12px;
    }
}

.news__article-button {}

.news__button {
    font-size: 24px;
    border: 1px solid #111;
    border-radius: 3px;
    padding: 10px 10px 10px 20px;
    max-width: 311px;
    max-height: 64px;
    margin-left: 525.5px;
}

.news__footer {
    display: flex;
    justify-content: center;
}

.news__footer-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    border: 1px solid #111;
    border-radius: 3px;
    font-weight: 400;
    max-height: 33px;
    max-width: 223px;
    box-sizing: content-box;
    padding: 15.5px 39px 15.5px 49px;
}

@media (width<=1200px) {
    .news__footer-button {
        font-size: 18px;
        max-width: 185px;
    }
}

@media (width<=992px) {
    .news__footer-button {
        font-size: 16px;
        padding: 6.5px 24.5px;
    }
}


.news__footer-button::after {
    content: "";
    display: inline-block;
    background-image: url("../../icons/show-more-arrow.svg");
    object-fit: none;
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

@media (width<=768px) {
    .news__footer-button::after {
        margin-left: 14px;
    }
}