@font-face {
    font-family: Open Sans;
    src: local("Open Sans Regular"), local("Open Sans-Regular")
    url("../../fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Open Sans;
    src: local("Open Sans Light"), local("Open Sans-Light")
    url("../../fonts/OpenSans-Light.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Open Sans;
    src: local("Namu Pro"), local("Namu-Pro")
    url("../../fonts/namu/NAMU-Pro.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}