@font-face {
    font-family: OpenSans;
    src: local("OpenSans Light"), ("OpenSans-Light"),
    url("../../fonts/OpenSans-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: OpenSans;
    src:  local("OpenSans Regular"), ("OpenSans-Regular"),
    url("../../fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: OpenSans;
    src: local("OpenSans ExtraBold"), ("OpenSans-ExtraBold"),
    url("../../fonts/OpenSans-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}