.header {
    position: fixed;
    max-width: 1920px;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--section-dark);
    z-index: 1;
    display: none;
}

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90px;
}

.header__burger-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__burger-icon {
    color: #fff;
    margin-right: 50px;
    transition: color var(--transition-time);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__burger-icon:active {
    color: var(--review-color);
}


@media (any-hover: hover) {
    .header__burger-icon:hover {
        color: var(--review-color);
    }
}

.burger-icon__icon {
    stroke: currentColor;
}

.header__logo {
    margin-right: 50px;
    width: 183px;
    cursor: pointer;
}

.header__nav-list {
    display: flex;
    margin-right: 60px;
    gap: 30px;
    align-items: center;
    text-align: center;
}

@media (width<1200px) {
    .container {
        width: min(var(--container-width), 100% - var(--container-padding-desktop) * 2);
    }

    .header__container {
        justify-content: space-between;
    }

    .header__nav-list {
        display: none;
    }
}

@media (width<=768px) {
    .container {
        width: min(var(--container-width), 100% - var(--container-padding-notepad) * 2);
    }

    .header__logo {
        width: 142px;
        height: 60px;
    }

    .header__burger-icon {
        margin-right: 40px;
    }

    .header__burger-icon svg {
        max-width: 40px;
        max-height: 40px;
    }

    .header__card svg {
        max-width: 31px;
        max-height: 31px;
    }

    .header__container {
        min-height: 76px;
    }
}



.header__nav-link {
    display: inline-block;
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 20px;
    color: #fff;
    transition: color var(--transition-time);
}

@media (any-hover: hover) {
    .header__nav-link:hover {
        color: var(--review-color);
    }
}

.header__card {
    color: #fff;
    transition: color var(--transition-time);
}

.header__card:active {
    color: var(--review-color);
}

.header__card-icon {
    stroke: currentColor;
}

@media (any-hover: hover) {
    .header__card-icon:hover {
        color: var(--review-color);
    }
}