html {
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.container {
  max-width: 1320px;
  padding: 15px;
  margin: 0 auto;
  min-height: 100vh;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.article {
  width: 284px;
  flex-grow: 1;
}

.article-3 {
}
