.nav-menu__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-menu__link {
    transition: color var(--transition-time);
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 20px;
    color: #fff;
}

.nav-menu__link {
    color: var(--text-light);
}

@media (any-hover: hover) {
    .nav-menu__link:hover {
        color: var(--review-color);
    }
}