.menu__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 920px;
}

.menu__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--content-color);
}

@media (any-hover: hover) {
    .menu__link:hover {
        color: var(--accent-color);
        transition: color var(--transition-time);
    }
}